<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://localhost:5000/update/vacancies" method = "POST">
    ID: <input type = text name="_id"> <br>
    Skill Type : <input type = text name="skill_type"> <br>
    Career Options For Skills : <input type = text name="career_options_for_skills"> <br>
    Further Info : <input type = text name="further_info"> <br>
    <input type = "submit" value = "UPDATE"/>
</form>
</body>
</html>